name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - uses: pre-commit/action@v3.0.1

  # Make sure commit messages follow the conventional commits convention:
  # https://www.conventionalcommits.org
  commitlint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6.2.1

  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13-dev"
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: snok/install-poetry@v1.4.1
      - name: Install Dependencies
        run: poetry install
        shell: bash
      - name: Test with Pytest
        run: poetry run pytest --cov-report=xml
        shell: bash
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test_release:
    needs:
      - test
      - lint
      - commitlint

    runs-on: ubuntu-latest
    environment: test_release
    concurrency: release
    if: github.ref_name != 'main'

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref || github.ref_name }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      # Dry run of PSR to build the distribution
      - name: Test release
        uses: python-semantic-release/python-semantic-release@v10.4.1
        with:
          no_operation_mode: true

      - uses: snok/install-poetry@v1.4.1
      - name: Install Dependencies
        run: poetry install --only main,test_build
        shell: bash

      - name: Test build of distribution packages
        shell: bash
        run: |
          poetry build
          poetry run python -Im twine check --strict dist/*

  check_if_should_release:
    # This is a dummy step to avoid starting the release step which will
    # trigger a notification when the pypi env needs to be used and we
    # don't want to do that unless we're actually releasing.
    needs:
      - test
      - lint
      - commitlint

    if: github.ref_name == 'main' && !startsWith(github.event.pull_request.title,'chore:') && !startsWith(github.event.head_commit.message,'chore:')
    runs-on: ubuntu-latest
    steps:
      - name: Dummy
        run: |
          echo "GitHub requires the step do something, so we're just going to echo something here."

  build_release:
    needs:
      - check_if_should_release

    runs-on: ubuntu-latest
    outputs:
      released: ${{ steps.release.outputs.released }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref || github.ref_name }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      # On main branch: Call PSR to build the distribution
      - name: Release
        uses: python-semantic-release/python-semantic-release@v10.4.1
        id: release

        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Store the distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

  release:
    needs:
      - build_release

    runs-on: ubuntu-latest
    environment: release
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v5
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: needs.build_release.outputs.released == 'true'

      - name: Publish package distributions to GitHub Releases
        uses: python-semantic-release/upload-to-gh-release@0a92b5d7ebfc15a84f9801ebd1bf706343d43711
        if: needs.build_release.outputs.released == 'true'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
